*{
    margin:0;
    border: 0;
}

body{
    box-sizing: border-box;
    background-color:black;
    color:ivory;
    width:950px;
    margin:0 auto;
}

header{
    background: rgb(25, 25, 90);
    align-items: center;
    display:grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}

header img{
    column-span: 1/4;
}

header h1{
    column-span: 2/4;
}

nav{
    width:80%;
}

nav ul{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:inherit;
}

main{
    width:inherit;
    border:1px solid red;
    margin:0 auto;
}

#internalActions{
    display:flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.actionBtn{
    height:60px;
    width:200px;
    border-radius: 2px;
}

