@media (min-width: 641px) {
    .card{
    grid-template-areas: 
    "image title"
    "image description"
    "image address"
    "button button";
    gap:1rem;
    }

    .card .placeImg:hover{
        transform: scale(1.1);
    }

}
