:root {
    --primaryOne: #213555;
    --primaryTwo: #3E5879;
    --secondaryOne: #D8C4B6;
    --secondaryTwo: #F5EFE7;
}

*{
    margin:0;
    padding:0;
}

body{
    background-color: var(--primaryTwo);
    color:var(--secondaryTwo);
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:var(--primaryTwo);
    font-weight:400;
}



li{
    list-style: none;
}

header{
    margin-top:0;
    background-color: var(--secondaryOne);
    color:black;
    padding:10px;
}

#headerImageTitle{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap:5px;
}

header h1{
    padding: 10px;
}

header img{
    height:80px;
    width:100px;
    object-fit: cover;
    border-radius: 20px;
    border:var(--primaryOne) solid 2px;
}

#menu{
    font-size:1.5rem;
    border:0;
    background:none;
    color:var(--primaryOne);
    top:5px;
    right:10px;
    position:absolute;
}

#menu::before{
    content:"☰";
    cursor: pointer;
}

#menu.open::before{
    content:"✖️";
    cursor: pointer;
}

.active::before {
	content: "↠";
}



nav ul li:hover{
    background: var(--secondaryTwo);
    cursor: pointer;
}

/*MAIN RULES*/
#location img{
    height:100px;
}

main{
    text-align: center;
    background-color: var(--primaryOne);
    margin:0 auto;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    padding: 15px;
}

section{
    margin: 10px;
    padding:15px;
    background: var(--primaryTwo);
}

#certificate{
    grid-column: span 2;
}


footer{
    text-align: center;
    background-color: var(--secondaryOne);
    color:black;
    padding:15px;
}

#courseCard{
    margin-top:15px;
    display:flex;
    justify-content: center;
    gap: 2px;
    flex-wrap:wrap;
}

.card{
    width: 100px;
    background:var(--primaryOne);
    padding: 5px 0 5px 0;
}

.completed{
    background: var(--secondaryTwo);
    color:black;
    font-weight: 400;
}

.filterButton{
    width:50px;
    padding:3px 0 3px 0;
    cursor: pointer;
    background: #F77D24;
    border-style: none;
    border-radius: 2px;
    font-weight: 700;
}

nav{
    display :grid;
    grid-template-rows: 0fr;
    justify-items: center;
    transition:grid-template-rows 0.3s ease-out;
}

/* MEDIA RULES */

@media (max-width:640px){
    nav.open{
        grid-template-rows: 1fr;
    }
    nav ul {
        overflow:hidden;
    }
}

@media (min-width:640px){
    nav ul{
        width:100%;
        display:flex;
        justify-content:space-evenly;
    }

    #menu{
        display:none;
    }
    
}